{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}| Update Meeting {% endblock title %}

{% block content %}

  <!-- page content -->
  <div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Meeting Update Form</h3>
            </div>

            
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Update meetimg <small>- please note the mandatory fields</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>                   
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content"> 
                            <br/>

                        <form action="" method="POST" enctype="multipart/form">
                                {% csrf_token %}
                            
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name"> <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">                       
                                        {{form|crispy}}
                                    </div>  
                                </div>
                            <div class="ln_solid"></div>
                            <div class="item form-group row btn-inline">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <!-- <a href="{% url 'soc_events:meeting-admin'%} " class="btn btn-primary" type="button">Cancel</a> -->
                                    <button class="btn btn-warning" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>

                
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<script>

    $('#userSelect').prop('disabled', true);
    $('#statusSelect').prop('disabled', true);

</script>
{% endblock content %}