{% extends "base.html" %}
{% load humanize %}

{% block title %}
| Manage Meetings 
{% endblock title %}


{% block content %}

  <!-- page content -->
<div class="right_col" role="main">
<div class="">
    <div class="page-title">
    <div class="title_left">
        <h3>Manage Organisational Meetings  </h3>
    </div>

    </div>
    
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12"> 
            <div class="x_panel">
            <div class="x_title">  
                <h2>Number of Meetings: </h2>
                <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
        
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">

            <!-- meeting list -->
                        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width: 1%">
                                        #
                                    </th>
                                    <th style="width:10%">
                                        Date
                                    </th>
                                    <th style="width: 20%">
                                        Meeting Type
                                    </th>
                                    
                                    <th style="width: 20%" >
                                        Host/Venue
                                    </th>
                                    <th style="width: 8%" ">
                                        Minutes   
                                    </th> 
                                    <th colspan="3" > 
                                        <a class="btn btn-info btn-sm btn-block"  href="{% url 'soc_events:meeting-add' %}">                    
                                            <span class="glyphicon glyphicon-plus text-light" area-hiden="true" > </span> &nbsp;&nbsp;&nbsp;&nbsp; <strong>Add Meeting</strong>  
                                        </a> 
                                    </th>                
                                </tr>
                            </thead>
                            <tbody>
                            {% for meeting in meetings %}
                            <tr>
                                    <td style="width: 1%">
                                        {{ forloop.counter}}
                                    </td>
                                    <td style="width:10%">
                                        {{meeting.date|date:'d M Y'}}
                                    </td>
                                    <td style="width: 20%">
                                        {{meeting.meeting_type}}
                                    </td>
                                    
                                    <td style="width: 20%">
                                        {% if meeting.host %}
                                        {{meeting.host.address}}
                                        {% else %}
                                        {{meeting.alt_venue}}
                                        {% endif %}
                                    </td>                 
                                    <td style="width: 10%">
                                        <a href="{{meeting.meeting.doc_file.url}}" target="_blank">
                                        <span ><i class="fa fa-file-pdf-o text-danger"></i> </span> Download Minutes
                                    </a>
                                    </td>
                                    
                                    
                                    <td style="width: 10%">
                                        <a href="{% url 'soc_events:meeting-admin-detail' meeting.id %}" >
                                            <span class="glyphicon glyphicon-info-sign text-info"></span> View Attendance
                                        </a>
                                    </td>
                                    <td style="width: 5%">
                                        <a href="{% url 'soc_events:meeting-update' meeting.id %}" >
                                            <span class="glyphicon glyphicon-edit text-primary" ></span> Edit 
                                        </a>
                                    </td>
                                    
                                    <td style="width: 5%">
                                        <a href="{% url 'soc_events:meeting-delete' meeting.id %}" >
                                            <span class="glyphicon glyphicon-trash text-danger" area-hiden="true" > </span> Delete
                                        </a>
                                    </td>
                                    
                                    {% empty %} 
                                    <th colspan="8" class="text-center">No meetings recorded yet!</th colspan="8">
                                </tr> 

                        {% endfor %}
                            </tbody>
                        </table>
            <!-- end project list -->
                        </div>
                    </div>
                </div>

        </div>
        </div>
    </div>
    </div>
</div>
</div>
<!-- /page content -->


{% endblock content %}meetings