{% extends "base.html" %}


{% block title %}| {{member}} details {% endblock title %}

{% block content %}

<!-- page content -->
<div class="right_col" role="main">
<div class="">
    <div class="page-title">
		<div class="title_left">
            <h3>
                {% if member.middlename %}
                {{member.user.first_name}} {{member.middlename}} {{member.user.last_name}} - <i>Profile </i> 
                {% else %}
                {{member.user.first_name}} {{member.user.last_name}}<i>Profile </i>
                {% endif %}
            </h3>
		</div>	
		<div class="title_right">
			<div class="col-md-5 col-sm-5   form-group pull-right top_search">
			
				<nav aria-label="breadcrumb">   
					<ol class="breadcrumb bg-light">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item"> <a href="{% url 'soc_members:members-admin' %} ">Memberhip</a> </li>
                        <li class="breadcrumb-item active" aria-current="page">Member profile</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
    
    <div class="clearfix"></div>

    <div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
        <div class="x_title">
    
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-3 col-sm-3  profile_left">
            <div class="profile_img">
                <div id="crop-avatar">
                <!-- Current avatar -->
                <img class="img-circle img-fluid" src="{{member.photo.url}}" height="200" width="200"  alt="Avatar" title="Change the avatar">
                </div>
            </div>

            <h3> Status: 
            {% if  member.status == "Active" %}
            <span class="text-success">
                {{member.status}}
            </span>
            {% elif  member.status == "Deceased" %}
            <span class="text-danger">
                {{member.status}}
            </span>
            {% elif member.status == "Suspended" %} 
            <span class="text-warning">
                {{member.status}}
            </span>           
            {% else %}
            <span class="text-secondary">
                {{member.status}}
            </span>
            {% endif %}
            </h3>
            <hr>
            <ul class="list-unstyled user_data">
                <li><i class="fa fa-map-marker user-profile-icon"></i> &nbsp;&nbsp;&nbsp;{{member.address}}
                </li>
                <hr>
                <li><i class="fa fa-phone user-profile-icon"></i> &nbsp;&nbsp;&nbsp;{{member.mobile_phone}}
                </li>
                <hr>
                <li>
                <i class="fa fa-briefcase user-profile-icon"></i> &nbsp;&nbsp;&nbsp; <strong>{{member.age}}</strong> 
                </li>
                <hr>
                <li class="m-top-xs">
                <i class="fa fa-envelope user-profile-icon"></i>
                <a href="mailto:{{member.user.email}}" target="_blank"> &nbsp;&nbsp;&nbsp;{{member.user.email}}</a>
                </li>
            </ul>

            <a href="{% url 'soc_members:member-edit' member.id %}" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
            <br />

            </div>
            <div class="col-md-9 col-sm-9 ">

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <span class="ml-2 text-center">
                <h3> Total Beneficiaries:  <span class="text-success">{{member.beneficiaries.all.count}} </span></h3> 
                </span>
                <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

                    <!--Beneficiaries-->
                    <table class="data table table-striped no-margin">
                        <thead>
                            <tr>
                            <th>#</th>
                            <th>Beneficiary Name</th>
                            <th>Date of Birth</th>
                            <th class="hidden-phone">Type</th>
                            <th>Status</th>
                            <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            {% for beneficiary in member.beneficiaries.all %}
                            <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{beneficiary.full_name}}</td>
                            <td>{{beneficiary.birth_date|date:"d F Y"}}</td>
                            <td class="hidden-phone">{{beneficiary.beneficiary_type}}</td>
                            <td class="vertical-align-mid">
                                <div class="progress">
                                    {% if beneficiary.beneficiary_status == 'Active' %}
                                    <div class="progress-bar progress-bar-success" data-transitiongoal="60">Active</div>
                                    {% elif  beneficiary.beneficiary_status == 'Deceased' %}
                                    <div class="progress-bar progress-bar-danger" data-transitiongoal="60">Deceased</div>
                                    {% else %}
                                    <div class="progress-bar progress-bar-info" data-transitiongoal="60">Inactive</div>
                                    {% endif %}
                                </div>
    
                            </td>
                            <td>
                                <a href="{% url 'soc_members:beneficiary-update' beneficiary.id %}" >
                                    <span class="glyphicon glyphicon-edit text-info" ></span> Edit 
                                </a> 
                            </td>
                            </tr>
                            
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center"><strong >No beneficiaries for this member yet!</strong> </td> 
                            </tr>
                            {% endfor %}  
                            <tr>
                                <td colspan="6" class="text-center"></td>
                            </tr>  
                            <tr> 
                                <td colspan="4"></td>
                                <td colspan="1" class="text-center"> 

                                    <a href="{% url 'soc_members:members-admin' %}">
                                        <button class="btn btn-secondary btn-block">Membership List</button>
                                    </a>                                
                                </td>
                                <td colspan="1" class="text-center"> 

                                    <a href="{% url 'soc_members:create-beneficiary' member.id %}">
                                        <button class="btn btn-primary">Add Beneficiaries</button>
                                    </a>                                
                                </td>
                            </tr>

                        
                        </tbody>
                        
                        </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
<!-- /page content -->

{% endblock content %}