{% extends "base.html" %}
{% load humanize %}

{% block title %}
| Member Logins
{% endblock title %}


{% block content %}

<!-- page content -->
<div class="right_col" role="main">
<div class="">
    <div class="page-title">
    <div class="title_left">
        <h3> </h3>
    </div>

    </div>
    
    <div class="clearfix"></div>

    <div class="row">
    <div class="col-md-12"> 
        <div class="x_panel">
        <div class="x_title">  
            <h2> <strong>Last login date and time  by members</strong> </h2> 
            <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
    
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- start project list -->
            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width:10%">
                            Member Full Names
                        </th> 
                        <th style="width: 20%" >
                            Last Login Date & Time
                        </th>
                        <th style="width: 20%">
                            User Name
                        </th> 
                        <th style="width: 8%;">
                            User Persmission Status  
                        </th> 
            
                    </tr>
                </thead>
                <tbody>
                {% for member in members %}
                <tr>
                        <td style="width: 1%">
                            {{ forloop.counter}}  
                        </td>
                        <th style="width: 10%" >
                            <a href="{% url 'soc_members:member-admin-detail' member.id %}" >
                                <span class="glyphicon glyphicon-info-sign text-info"></span> 
                                {{member.full_name}}
                            </a>
                        </th>
                        <th style="width:10%">
                            {{member.user.last_login|date:'d M Y - h m s'}}
                        </th>
                        <td style="width: 20%">
                            {{member.user.username}}
                        </td>
                        <td style="width: 20%">
                            {% if member.user.is_superuser%}
                            Admin Superuser
                            {% elif member.user.is_staff%}
                            Limited Admin User
                            {% else %}
                            Regular Guest User
                            {% endif %}
                        </td>             
                        {% empty %} 
                        <th colspan="8" class="text-center">No logins of user members recorded yet!</th>
                    </tr> 
            {% endfor %}
                </tbody>
            </table>
            

        </div>
        </div>
    </div>
    </div>
</div>
</div>
<!-- /page content -->


{% endblock content %}