{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- page content -->
<div class="right_col" role="main">
<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>Total Membership (all statusses): &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{total}} </small></h3>
	
		
		</div>
				
	
		<div class="title_right">
			<div class="col-md-5 col-sm-5   form-group pull-right top_search">
			
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-light">
						<li class="breadcrumb-item"><a href="{% url 'soc_dash:dashboard' %}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Memberhip</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	
	<div class="clearfix"></div>

	<div class="row">
	<div class="col-md-12">
		<div class="x_panel">
		
		<div class="x_content">
			<div class="row">
				
					<div class="col-md-3 col-sm-6  ">
						
						<div class="pricing_footer bg-success">
							<div class="title" >
								<h2 class="text-white">Total Active: <b>{{active_count}}</b></h2>					
							</div>
						</div>
				
				
					</div>
				
				<div class="col-md-3 col-sm-6  " >
					<div class="pricing_footer bg-danger">
						<div class="title text-white">
							<h2>Total Deceased: <b>{{deceased_count}}</b></h2>
				
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6  ">
					<div class="pricing_footer bg-warning">
						<div class="title text-white" >
							<h2>Total Suspended: <b>{{suspended_count}}</b></h2>
						
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6  ">
					<div class="pricing_footer bg-secondary">
						<div class="title text-white">
							<h2>Total Terminated: <b>{{terminated_count}}</b></h2>
							
						</div>
					</div>
				</div>

			</div>	
		<div class="card-box table-responsive"> 
			<!-- start project list -->
			<table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
				<th style="width: 1%">ID#</th>
				<th style="width: 10%">Member Name</th>
				<th style="width: 10%">Member Image</th>
				<th style="width: 10%">Contact No.</th>
				<th style="width: 10%">Email Address</th>
				<th style="width: 3%">Status</th>
				<th style="width: 5%" colspan="3">Details</th>
				</tr>
			</thead>
			<tbody>
				{% for member in members %}
				<tr>
				<td> {{member.id}} </td>
				<th>
				<a href="{% url 'soc_members:member' member.id %}">	<span class="text-secondary">{{member.full_name}}</span> </a>
				</th>
				<td>
					<ul class="list-inline">
					<li>
						<img src="{{member.photo.url}}" class="avatar" alt="Avatar">
					</li>
					</ul>
				</td>
				<td>{{member.mobile_phone}}</td>
				<td> <a href="mailto:{{member.user.email}}">{{member.user.email}}</a> </td>

				<td class="vertical-align-mid">
					<div class="progress">
						{% if member.status == 'Active' %}
						<div class="progress-bar progress-bar-success" data-transitiongoal="100">{{member.status}}</div>
						{% elif  member.status == 'Deceased' %}
						<div class="progress-bar progress-bar-danger" data-transitiongoal="100">{{member.status}} </div>
						{% else %}
						<div class="progress-bar progress-bar-warning" data-transitiongoal="100">{{member.status}}</div>
						{% endif %}
					</div>
				<td style="width: 5%">
					<a href="{% url 'soc_members:member' member.id %}" >
						<span class="glyphicon glyphicon-info-sign text-info"></span> View 
					</a>
				</td>   
				</tr>
				{% endfor %}
				
			</tbody>
			</table>

			<!-- Pagination Section -->
			<div class="row">
				<div class="col-md-12" justify-content-right>
					{% if page_obj.has_other_pages %}
					<ul class="pagination nav navbar-right mx-right" >
						{% if page_obj.has_previous %}
						<li class="page-item">
							<a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a>
						</li>
					
						{% else %}
						<li class="page-item disabled">
							<a class="page-link">Previous</a>
						</li>
						{% endif %}
						{% for i in page_obj.paginator.page_range %}
						{% if page_obj.number == i %}
							<li class="page-item active">
							<a class="page-link">{{i}}</a>
							</li>
						{% else %}
							<li class="page-item">
							<a href="?page={{i}}" class="page-link">{{i}}</a>
							</li>
						{% endif %}
						{% endfor %}
						{% if page_obj.has_next %}
						<li class="page-item">
							<a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<a class="page-link">Next</a>
						</li>
						{% endif %}
					</ul>
					{% endif %}
				</div>
			</div>

			<!-- End pagination -->
		</div>
			<!-- end project list -->

		</div>
		</div>
	</div>
	</div>

</div>
<!-- /page content -->

{% endblock content %}
