{% extends "base.html" %}


{% block title %}| {{my_profile}} details {% endblock title %}

{% block content %}

<!-- page content -->
<div class="right_col" role="main">
<div class="">
    <div class="page-title">
    <div class="title_left">
        <h3>User Profile</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5   form-group pull-right top_search">
        
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li class="breadcrumb-item"><a href="{% url 'soc_dash:dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"> <a href="{% url 'soc_members:members' %} ">Memberhip List</a> </li>
                    <li class="breadcrumb-item active" aria-current="page">My Member Profile</li>
                </ol>
            </nav>
        </div>
    </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
        <div class="x_title">
            
            <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                </div>
            </li> -->
            <!-- <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
            </ul> -->
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-3 col-sm-3  profile_left">
            <div class="profile_img">
                <div id="crop-avatar">
                <!-- Current avatar -->
                <img class="img-responsive avatar-view" src="{{my_profile.photo.url}}" height="200" width="200"  alt="Avatar" title="Change the avatar">
                </div>
            </div>
            <h3>{{my_profile.user.first_name}} {{my_profile.middlename}} {{my_profile.user.last_name}} </h3>
            <hr>
            <ul class="list-unstyled user_data">
                <li><i class="fa fa-map-marker user-profile-icon"></i> &nbsp;&nbsp;&nbsp;{{my_profile.address}}
                </li>
                <hr>
                <li><i class="fa fa-phone user-profile-icon"></i> &nbsp;&nbsp;&nbsp;{{my_profile.mobile_phone}}
                </li>
                <hr>
                <li>
                <i class="fa fa-briefcase user-profile-icon"></i> &nbsp;&nbsp;&nbsp;{{my_profile.status}}
                </li>
                <hr>
                <li class="m-top-xs">
                <i class="fa fa-envelope user-profile-icon"></i>
                <a href="mailto:{{my_profile.user.email}}" target="_blank"> &nbsp;&nbsp;&nbsp;{{my_profile.user.email}}</a>
                </li>
            </ul>

            <a href="#" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Update Profile</a>
            <br />

            <!-- start skills -->
            <!-- <h4>Skills</h4>
            <ul class="list-unstyled user_data">
                <li>
                <p>Web Applications</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                </div>
                </li>
                <li>
                <p>Website Design</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                </div>
                </li>
                <li>
                <p>Automation & Testing</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                </div>
                </li>
                <li>
                <p>UI / UX</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                </div>
                </li>
            </ul> -->
            <!-- end of skills -->

            </div>
            <div class="col-md-9 col-sm-9 ">

            <!-- <div class="profile_title">
                <div class="col-md-6">
                <h2>User Activity Report</h2>
                </div>
                <div class="col-md-6">
                <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                </div>
                </div>
            </div> -->
            <!-- start of user-activity-graph -->
            <!-- <div id="graph_bar" style="width:100%; height:280px;"></div> -->
            <!-- end of user-activity-graph -->

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <span class="ml-2 text-center">
                <h3> Total Beneficiaries:  <span class="text-success">{{my_profile.beneficiaries.all.count}} </span></h3> 
                </span>
                    <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

                        <!--Beneficiaries-->
                        <table class="data table table-striped no-margin">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th>Beneficiary Name</th>
                                <th>Date of Birth</th>
                                <th class="hidden-phone">Type</th>
                                <th>Status</th>
                                <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                                {% for beneficiary in my_profile.beneficiaries.all %}
                                <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{beneficiary.full_name}}</td>
                                <td>{{beneficiary.birth_date|date:"d F Y"}}</td>
                                <td class="hidden-phone">{{beneficiary.beneficiary_type}}</td>
                                <td class="vertical-align-mid">
                                    <div class="progress">
                                        {% if beneficiary.beneficiary_status == 'Active' %}
                                        <div class="progress-bar progress-bar-success" data-transitiongoal="60">Active</div>
                                        {% elif  beneficiary.beneficiary_status == 'Deceased' %}
                                        <div class="progress-bar progress-bar-danger" data-transitiongoal="60">Deceased</div>
                                        {% else %}
                                        <div class="progress-bar progress-bar-info" data-transitiongoal="60">Inactive</div>
                                        {% endif %}
                                    </div>
        
                                </td>
                                <td>
                                
                                </td>
                                </tr>
                                
                                {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center"><strong >No beneficiaries for this member yet!</strong> </td> 
                                </tr>
                                {% endfor %}  
                                <tr>
                                    <td colspan="6" class="text-center"></td>
                                </tr>  
                                            
                            </tbody>                 
                        </table>
                    </div>
                </di
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
<!-- /page content -->

{% endblock content %}