{% extends "base.html" %}


{% block title %}| {{my_profile}} details {% endblock title %}

{% block content %}

<!-- page content -->
<div class="right_col" role="main">
<div class="">
    <div class="page-title">
    <div class="title_left">
        <h3>User Profile</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5  form-group pull-right top_search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
            </span>
        </div>
        </div>
    </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
        <div class="x_title">
            
            <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                </div>
            </li> -->
            <!-- <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
            </ul> -->
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-3 col-sm-3  profile_left">
            <div class="profile_img">
                <div id="crop-avatar">
                <!-- Current avatar -->
                <img class="img-responsive avatar-view" src="{{my_profile.photo.url}}" height="200" width="200"  alt="Avatar" title="Change the avatar">
                </div>
            </div>
            <h3>{{my_profile.user.first_name}} {{my_profile.middlename}} {{my_profile.user.last_name}} </h3>
            <hr>
            <ul class="list-unstyled user_data">
                <li><i class="fa fa-map-marker user-profile-icon"></i> &nbsp;&nbsp;&nbsp;{{my_profile.address}}
                </li>
                <hr>
                <li><i class="fa fa-phone user-profile-icon"></i> &nbsp;&nbsp;&nbsp;{{my_profile.mobile_phone}}
                </li>
                <hr>
                <li>
                <i class="fa fa-briefcase user-profile-icon"></i> &nbsp;&nbsp;&nbsp;{{my_profile.status}}
                </li>
                <hr>
                <li class="m-top-xs">
                <i class="fa fa-envelope user-profile-icon"></i>
                <a href="mailto:{{my_profile.user.email}}" target="_blank"> &nbsp;&nbsp;&nbsp;{{my_profile.user.email}}</a>
                </li>
            </ul>

            <a href="#" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Update Profile</a>
            <br />

            <!-- start skills -->
            <!-- <h4>Skills</h4>
            <ul class="list-unstyled user_data">
                <li>
                <p>Web Applications</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                </div>
                </li>
                <li>
                <p>Website Design</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                </div>
                </li>
                <li>
                <p>Automation & Testing</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                </div>
                </li>
                <li>
                <p>UI / UX</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                </div>
                </li>
            </ul> -->
            <!-- end of skills -->

            </div>
            <div class="col-md-9 col-sm-9 ">

            <!-- <div class="profile_title">
                <div class="col-md-6">
                <h2>User Activity Report</h2>
                </div>
                <div class="col-md-6">
                <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                </div>
                </div>
            </div> -->
            <!-- start of user-activity-graph -->
            <!-- <div id="graph_bar" style="width:100%; height:280px;"></div> -->
            <!-- end of user-activity-graph -->

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class=""><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{{my_profile}} Beneficiaries</a>
                </li>
                <li role="presentation" class="active"><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">{{member}} Beneficiaries</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
                </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

                    <!-- start recent activity -->
                    <ul class="messages">
                    
                        <table class="data table table-striped no-margin">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th>Beneficiary Name</th>
                                <th>Date of Birth</th>
                                <th class="hidden-phone">Type</th>
                                <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for beneficiary in my_profile.beneficiaries.all %}
        
                                <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{beneficiary.full_name}}</td>
                                <td>{{beneficiary.birth_date|date:"d F Y"}}</td>
                                <td class="hidden-phone">{{beneficiary.beneficiary_type}}</td>
                                <td class="vertical-align-mid">
                                    <div class="progress">
                                        {% if beneficiary.beneficiary_status == 'Active' %}
                                        <div class="progress-bar progress-bar-success" data-transitiongoal="100">Active</div>
                                        {% elif  beneficiary.beneficiary_status == 'Deceased' %}
                                        <div class="progress-bar progress-bar-danger" data-transitiongoal="100">Deceased</div>
                                        {% else %}
                                        <div class="progress-bar progress-bar-info" data-transitiongoal="100">Inactive</div>
                                        {% endif %}
                                    </div>
        
                                </td>
                                </tr>
                                
                                {% endfor %}         
                            </tbody>
                            </table>

                    </ul>
                    <!-- end recent activity -->

                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                    <!-- start user projects -->
                    

                    <li>
                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                        <div class="message_date">
                        <h3 class="date text-info">24</h3>
                        <p class="month">May</p>
                        </div>
                        <div class="message_wrapper">
                        <h4 class="heading">Desmond Davison</h4>
                        <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                        <br />
                        <p class="url">
                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                            <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                        <div class="message_date">
                        <h3 class="date text-error">21</h3>
                        <p class="month">May</p>
                        </div>
                        <div class="message_wrapper">
                        <h4 class="heading">Brian Michaels</h4>
                        <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                        <br />
                        <p class="url">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                            <a href="#" data-original-title="">Download</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                        <div class="message_date">
                        <h3 class="date text-info">24</h3>
                        <p class="month">May</p>
                        </div>
                        <div class="message_wrapper">
                        <h4 class="heading">Desmond Davison</h4>
                        <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                        <br />
                        <p class="url">
                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                            <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                        <div class="message_date">
                        <h3 class="date text-error">21</h3>
                        <p class="month">May</p>
                        </div>
                        <div class="message_wrapper">
                        <h4 class="heading">Brian Michaels</h4>
                        <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                        <br />
                        <p class="url">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                            <a href="#" data-original-title="">Download</a>
                        </p>
                        </div>
                    </li>
                    <!-- end user projects -->

                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                    <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                    photo booth letterpress, commodo enim craft beer mlkshk </p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
<!-- /page content -->

{% endblock content %}