    {% extends "base.html" %}

{% block title %}| Dashboard
    
{% endblock title %}


{% block content %}
  <!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
        <div class="title_left">
            <h3>Dashboard</h3>
        </div>

        </div>

        
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="x_content">
                        <div class="row">
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
                                <div class="tile-stats" style="background-color:rgba(14, 171, 177, 0.473)">
                                <div class="icon"><i class="fa fa-users "></i>
                                </div>
                                <div class="count">{{member_count}}</div>
    
                                <h3 class="text-dark">Total Membership</h3>
                                <p>All statusses</p>
                                </div>
                            </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                            <div class="tile-stats" style="background-color:rgba(37, 204, 37, 0.541)">
                            <div class="icon"><i class="fa fa-user-md "></i>
                            </div>
                            <div class="count">{{active_members}}</div>

                            <h3 class="text-dark">Active Members </h3>
                            <p>Active count</p> 
                            </div> 
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                            <div class="tile-stats" style="background-color:rgba(144, 163, 163, 0.247)">
                            <div class="icon"><i class="fa fa-users "></i>
                            </div>
                            <div class="count" class="text-center">{{beneficiary_count}}</div>

                            <h3 class="text-dark">Total Beneficiaries</h3>
                            <p>All statusses</p>
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                            <div class="tile-stats" style="background-color:rgba(17, 132, 199, 0.219);">
                            <div class="icon"><i class="fa fa-user "></i>
                            </div>
                            <div class="count">{{active_beneficiaries}}</div>

                            <h3 class="text-dark">Ative Beneficiaries</h3>
                            <p>Active count </p>
                            </div>
                        </div>
                       
                        
                        </div>
                        <br />
                        <!-- Graphs Here -->
                <div class="clearfix"></div>

                <!--Graphs starts here-->
                <div class="x_content">
                    <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron ">
                        <h1 class="text-center"> <span class="glyphicon glyphicon-info-sign text-info"></span>&nbsp;&nbsp; 
                            More dashboard information to follow!!
                        </h1>
                        
                    </div>
                    </div>
                </div>
                <!--End graphs -->
                        <div class="row">
                        <div class="col-md-3   widget widget_tally_box">
                            
                        </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<!--Begin Chartjs Graphs Scripts-->

<!--End Chartjs Graphs Scripts-->

{% endblock content %}
